#* @vtlvariable name="ajaxPurpose" type="org.deblauwe.jira.plugin.databasevalues.ajax.AjaxViewResultsPurpose" *#
#* @vtlvariable name="baseurl" type="java.lang.String" *#
#* @vtlvariable name="valueId" type="java.lang.String" *#
#* @vtlvariable name="valueString" type="java.lang.String" *#
#* @vtlvariable name="renderingEditWidth" type="int" *#
#* @vtlvariable name="customFieldId" type="java.lang.String" *#
#disable_html_escaping()

#set( $hiddenInputFieldId = "databasevalues_hidden_$customFieldId" )
#if( $valueId )
	#set( $idString = $valueId)
#else
	#set( $idString = "")
#end
<input id="databasevalues_$customFieldId" name="_$customFieldId" class="ui-autocomplete-input"
       size="$renderingEditWidth" type="text" value="$valueString"/>
<input type="hidden" id="$hiddenInputFieldId" name="$customFieldId" value="$idString"/>

<script type="text/javascript">
    // Support HTML in the autocomplete
    jQuery[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function ( ul, item )
    {
        return jQuery( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( jQuery( "<a></a>" ).html( item.label ) )
                .appendTo( ul );
    };

    AJS.$(function ()
          {
              JIRA.bind( JIRA.Events.NEW_CONTENT_ADDED, function ( e, context )
              {
                  callAjaxFunction$customFieldId(e,context)
              } );

              AJS.toInit( function ()
                          {
                              // init on load
                              callAjaxFunction$customFieldId();
                          } )
          } );


    function callAjaxFunction$customFieldId( e, context, reason )
    {
        var localContext = AJS.$(context);

        jQuery( '#databasevalues_$customFieldId' ).live( 'blur', function ()
        {
            if (this.value == '')
                jQuery( '#$hiddenInputFieldId' ).val( '' );
        } );

        jQuery( "#databasevalues_$customFieldId" )
                .autocomplete( {
                                   source: function ( request, response )
                                   {
                                       jQuery.ajax( {url: "$baseurl/secure/AjaxResultsPageAction!default.jspa",
                                                        dataType: "json",
                                                        data: {
                                                            decorator: "none",
                                                            q: request.term,
                                                            customfieldId: "$customFieldId",
                                                            projectKey: "$projectKey",
                                                            purpose: "$ajaxPurpose.name()"
                                                        },
                                                        success: function ( data )
                                                        {
                                                            response( jQuery.map( data, function ( item )
                                                            {
                                                                return {
                                                                    inputlabel: item.inputlabel,
                                                                    label: item.label,
                                                                    value: item.value
                                                                }
                                                            } ) );
                                                        },
                                                        error: function ( jqXHR, textStatus, errorThrown )
                                                        {
                                                            console.log( "ERROR" );
                                                            console.log( jqXHR );
                                                            console.log( textStatus );
                                                            console.log( errorThrown );
                                                        }
                                                    } );
                                   },
                                   minLength: 2,
                                   select: function ( event, ui )
                                   {
                                       jQuery( "#databasevalues_$customFieldId" ).val( ui.item.inputlabel ); // display the selected text
                                       jQuery( "#$hiddenInputFieldId" ).val( ui.item.value ); // save selected id to hidden input
                                       return false;
                                   },
                                   focus: function ( event, ui )
                                   {
                                       jQuery( "#databasevalues_$customFieldId" ).val( ui.item.inputlabel ); // display the selected text
                                       return false;
                                   }
                               } );

    }

		#set( $H = '#' )
    //$H sourceURL=autocomplete_input_database_$customFieldId

</script>